---
---

/// https://css-tricks.com/snippets/sass/str-replace-function/
/// Replace `$search` with `$replace` in `$string`
/// @author Kitty Giraudel
/// @param {String} $string - Initial string
/// @param {String} $search - Substring to replace
/// @param {String} $replace ('') - New value
/// @return {String} - Updated string
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;1,200;1,400&display=swap');

/// you may specify any of the Google font names here
// https://fonts.google.com/
$font: "Noto Sans Light";
//$font: "Open Sans";
//$font: "Lato";
//$font: "Quicksand";
//$font: "Nanum Myeongjo";
//$font: "Pacifico"; // don't use this :P
//$font: "Mouse Memoirs"; // don't use this either

$carnegie-red: #C41230;
$iron-gray: #6D6E71;
$steel-gray: #E0E0E0;
$scots-rose: #EF3A47;
$gold-thread: #FDB515;
$green-thread: #009647;
$teal-thread: #008F91;
$blue-thread: #043673;
$highlands-sky-blue: #007BC0;

$blue: #70a9dd;
$med-dark-blue: #5a89b3;
$dark-blue: #456888;
$very-dark-blue: #2f475d;
$midnight: #1a2733;
$fuchsia: #da70dd;
$orange: #dda470;
$green: #72dd70;
$yellow: #ffff00;
$grey: #444444;

@import "{{ site.theme }}";

@import url("https://fonts.googleapis.com/css?family=" + str-replace($font, " ", "+") + ":400,700");

h1, h2, h3, p, div, .header, h1.header, header, table, th, td {
    font-family: $font;
}

p, li, a, td {
    font-size: 13pt;
}

th {
    background-color: #{$carnegie-red};
}

td {
  color: inherit;
  background-color: inherit;
}

tr.lec {
    td {
      background-color: #ffffff;
      border: 0px solid #ffffff;
    }
}

tr.nolec {
    td {
    color: $iron-gray;
    background-color: $steel-gray;
  }
}

a {
    color: #{$iron-gray};
    font-family: "Noto Sans";
    // text-decoration: underline;
}

header {
    background-color: #{$carnegie-red};
    border: 1px solid #{$carnegie-red};
    margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a.tiny-link {
    font-size: 9pt;
    border: 0;
}

.blockquote {
  padding: 0.0in 0.25in 0.0in 0.25in;
  font-style: italic;
  color: #{$iron-gray};
}

/// add other custom SCSS below
.generalization {
  background-color: #{$gold-thread};
}

.opinion {
  background-color: #{$green-thread};
}

.speculation {
  background-color: #{$blue-thread};
}

.logo {
  border: none;
  outline: none;
  border-style: none;
}

h1.header {
  font-family: "Noto Sans Medium";
  font-size: xx-large;
  //font-weight: bold;
}